@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://palettes.shecodes.io/palettes/333 */

:root {
  --background: #fffdef;
  --foreground: #171717;
  --chalk_white: #f1f1f1;
  --cherry_red: #c50000;
  --brilliant_red: #e70000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #fffdef;
    --chalk_white: #f1f1f1;
    --cherry_red: #c50000;
    --brilliant_red: #e70000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Gabarito", Arial, Helvetica, sans-serif;
}
